# Laravel / PHP
/vendor
/node_modules
/.env
/.env.*
/.phpunit.result.cache
/storage/*.key
/.idea
/.vscode
/public/storage
/storage/app/public
/storage/debugbar
/bootstrap/cache/*.php

# Composer
/composer.phar

# OS files
.DS_Store
Thumbs.db
